.block {
  width: 180px;
  min-height: 35px;
  height: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
  border-radius: 25px;
  background: transparent;
  position: absolute;
}

i.fa {
  font-size: 12px;
}

i.fa.fa-exclamation-circle {
  color: red;
}

.row {
  background: transparent;
}

.input {
  position: relative;
  top: -10px;
  margin: 0 auto;
}

.output {
  position: relative;
  bottom: -8px;
  margin: 0 auto;
}

i.unset {
  color: darkred;
}

i.set {
  color: darkgreen;
}

