footer {
  background-color: #F8F8F8;
  border-color: #E7E7E7;
  color: #777;

  width: 100%;
}

a {
  color: #777;
  text-decoration: inherit;
}

ul {
  list-style-type: none;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
