footer {
  background-color: #F8F8F8;
  border-color: #E7E7E7;
  color: #777;

  position:fixed;
  bottom:0;
  width: 100%;
}

a {
  color: #777;
  text-decoration: inherit;
}

ul {
  list-style-type: none;
}

.row {
  margin-top: 5px;
}
