<i #modalActivator style="visibility: hidden" aria-hidden="true" data-toggle="modal" data-target="#processFeatureModal"></i>

<div class="modal fade" id="processFeatureModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Process feature (index: {{index}})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hahahhahahah
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClickCancel()">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickDone()">
          Done
        </button>
      </div>
    </div>
  </div>
</div>
