<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="index.html">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo">
                </div>
              </div>
              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text">Magiun</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item dropdown">
        <a class="dropdown-toggle">
          <span class="icon-holder"><i class="c-orange-500 ti-import"></i></span>
          <span class="title">Import Data</span>
          <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
        <ul class="dropdown-menu">
          <li [dragDirective]='"database"' [dragHightlight]="'highlight'"><a>Database</a></li>
          <li [dragDirective]='"file"' [dragHightlight]="'highlight'"><a>File</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="dropdown-toggle">
          <span class="icon-holder"><i class="c-teal-500 ti-ruler-alt-2"></i></span>
          <span class="title">Data Transformation</span>
          <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="dropdown-toggle">
          <span class="icon-holder"><i class="c-teal-500 ti-target"></i></span>
          <span class="title">Feature Selection</span>
          <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="dropdown-toggle">
          <span class="icon-holder"><i class="c-teal-500 ti-stats-up"></i></span>
          <span class="title">Machine Learning</span>
          <span class="arrow"><i class="ti-angle-right"></i></span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown">
            <a>
              <span>Model Initialization</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a>
              <span>Regression</span>
              <span class="arrow"><i class="ti-angle-right"></i></span>
            </a>
            <ul class="dropdown-menu">
              <li [dragDirective]='"linearRegression"' [dragHightlight]="'highlight'"><a>Linear Regression</a></li>
              <li [dragDirective]='"poissonRegression"' [dragHightlight]="'highlight'"><a>Poisson Regression</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
