<app-workflow-sidebar></app-workflow-sidebar>
<div class="page-container">
  <main class="main-content bgc-grey-100">
    <div class='col-12 bd bgc-white workflow-nav'>
      <ul class="left">
        <li>
          <label>
           <input #title placeholder="{{defaultWorkflowTitle}}" (keyup)="updateTitle($event)">
          </label>
        </li>
      </ul>
      <ul class="right">
        <li>
            <a><i class="c-blue-500 ti-control-play" id="runButton" (click)="run()" data-toggle="tooltip" data-placement="top" title="{{ 'WORKFLOWS.RUN' | translate }}"></i></a>
        </li>
        <li>
            <a><i class="c-blue-500 ti-save" (click)="export()" data-toggle="tooltip" data-placement="top" title="{{ 'WORKFLOWS.EXPORT' | translate }}"></i></a>
        </li>
        <li>
            <a><i class="c-blue-500 ti-import" (click)="import()" data-toggle="tooltip" data-placement="top" title="{{ 'WORKFLOWS.IMPORT' | translate }}"></i></a>
        </li>
      </ul>
    </div>

    <div id="mainContent" class = "col-12 bd bgc-white" dropDirective (dropEventMouse)="handleDropEventMouse($event)">
      <div id="placeHolderTextDiv" *ngIf="showPlaceholder">
        {{ 'WORKFLOWS.PLACE_HOLDER' | translate }}
      </div>
      <ng-template appWorkflowDirective></ng-template>
    </div>
  </main>
</div>
