<div class="page-content d-flex align-items-stretch">
  <app-workflow-sidebar></app-workflow-sidebar>
  <div class="page-content">
    <header class="page-header">
      <div class="container-fluid">
        <h2>My Pipeline</h2>
      </div>
    </header>
    <section class="no-padding-bottom">
      <div dropDirective class="container droppingarea" (dropEvent)="addDropItem($event)">
        <div id="placeHolderTextDiv" *ngIf="showPlaceholder">
          {{ 'WORKFLOWS.PLACE_HOLDER' | translate }}
        </div>
        <div *ngFor="let block of blocksDropped">
          <app-linear-regression-block *ngIf="block.code === 'linearRegression'"></app-linear-regression-block>
          <app-poisson-regression-block *ngIf="block.code === 'poissonRegression'"></app-poisson-regression-block>
        </div>
      </div>
    </section>
  </div>
</div>
