<div class="container">
  <div>
    <h6>{{ 'MODEL_VISUALIZATION.SUMMARY.SUMMARY' | translate }}</h6>
    <hr/>
    <app-regression-coefficients *ngIf="AlgorithmImplementation.isRegressionWithCoefficients(model.algorithmImplementation)" [model]="model"></app-regression-coefficients>
    <app-linear-regression-details *ngIf="model.algorithmImplementation == AlgorithmImplementation.LinearRegressionAlgorithm" [model]="model"></app-linear-regression-details>
    <app-generalized-linear-regression-details *ngIf="model.algorithmImplementation == AlgorithmImplementation.GeneralizedLinearRegressionAlgorithm" [model]="model"></app-generalized-linear-regression-details>
    <app-tree-regression-details *ngIf="AlgorithmImplementation.isTreeRegression(model.algorithmImplementation)" [model]="model"></app-tree-regression-details>
    <hr/>
    <button class="btn btn-info" (click)="plot()">Plot</button>
  </div>
</div>
