<div class="container">
  <div>
    <h6>{{ 'MODEL_VISUALIZATION.SUMMARY.SUMMARY' | translate }}</h6>
    <hr/>
    <div class="container">
      <div class="row">
        <b>Residuals:</b>
      </div>
      <div class="row">
        <div class="col">
          <div class="row"><h6>Min</h6></div>
          <div class="row">{{Math.min.apply(Math, model.residuals) | number: numberFormat}}</div>
        </div>
        <div class="col">
          <div class="row"><h6>1Q</h6></div>
          <div class="row">{{StatisticsUtils.percentile(model.residuals, 25) | number: numberFormat}}</div>
        </div>
        <div class="col">
          <div class="row"><h6>Median</h6></div>
          <div class="row">{{StatisticsUtils.median(model.residuals) | number: numberFormat}}</div>
        </div>
        <div class="col">
          <div class="row"><h6>3Q</h6></div>
          <div class="row">{{StatisticsUtils.percentile(model.residuals, 75) | number: numberFormat}}</div>
        </div>
        <div class="col">
          <div class="row"><h6>Max</h6></div>
          <div class="row">{{Math.max.apply(Math, model.residuals) | number: numberFormat}}</div>
        </div>
      </div>
    </div>
    <app-regression-coefficients *ngIf="AlgorithmImplementation.isRegressionWithCoefficients(model.algorithmImplementation)" [model]="model"></app-regression-coefficients>
    <app-linear-regression-details *ngIf="model.algorithmImplementation == AlgorithmImplementation.LinearRegressionAlgorithm" [model]="model"></app-linear-regression-details>
    <app-generalized-linear-regression-details *ngIf="model.algorithmImplementation == AlgorithmImplementation.GeneralizedLinearRegressionAlgorithm" [model]="model"></app-generalized-linear-regression-details>
    <app-tree-regression-details *ngIf="AlgorithmImplementation.isTreeRegression(model.algorithmImplementation)" [model]="model"></app-tree-regression-details>
    <hr/>
    <button class="btn btn-info" (click)="plot()">Plot</button>
  </div>
</div>
