<div>

  <div class="d-flex chart-settings-entry">
    <span class="flex-grow-1">{{'DATA.FEATURE' | translate }}:</span>
    <chart-column-selector [columns]="dataSet.schema.columns" (columnUpdated)="onUpdateFirstColumn($event)">
    </chart-column-selector>
  </div>

  <div class="d-flex chart-settings-entry">
    <span class="flex-grow-1">{{'DATA.FEATURE' | translate }}:</span>
    <chart-column-selector [columns]="dataSet.schema.columns" (columnUpdated)="onUpdateSecondColumn($event)">
    </chart-column-selector>
  </div>

</div>
