@import "../../../../../styles";

.modal-dialog,
.modal-content {
  width: 600px;
  height: auto;
}

.parameter-container {
  width: 90%;
  margin: 2px auto;

  @include clearfix;

  ul {
    list-style-type: none;
    padding-left: 0;
    position: relative;
    display: block;

    li {
      float: left;
      margin: 0 10px 0 0;
      input {
        width: 300px;
      }
    }
  }
}

.parameter-name {
  font-size: 14px;
  font-weight: bold;
}
