<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title">{{ 'WORKFLOWS.BLOCKS.CONFIG_PARAMETERS' | translate }}</h6>
      <button type="button" class="close float-right" (click)="close()" >&times;</button>
    </div>
    <div class="modal-body">
      <div class="row" *ngFor="let p of parameters">
        <div class="parameter-container">
          <ul>
            <li><span class="parameter-name">{{ p.getNameFromLocale() | translate }}</span></li>
            <li *ngIf="p.htmlType === 'file'">
              <app-file-parameter [parameter]="p" (onValueChanged)="parameterValueChanged($event)"></app-file-parameter>
            </li>
            <li *ngIf="p.htmlType === 'select'">
              <app-select-component [parameter]="p" (onValueChanged)="parameterValueChanged($event)"></app-select-component>
            </li>
            <li *ngIf="p.htmlType === 'input'">
              <app-input-parameter [parameter]="p" (onValueChanged)="parameterValueChanged($event)"></app-input-parameter>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="confirm()">OK</button>
    </div>
  </div>
</div>
