<header class="header">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-holder d-flex align-items-center justify-content-between">
        <div class="navbar-header">
          <!-- Navbar Brand -->
          <a routerLink="" class="navbar-brand">
            <div class="brand-text brand-big">
              <img alt="Brand" src="../../../../assets/images/logo.jpg" class="img-responsive">
              <span>Magiun </span>
            </div>
          </a>
        </div>

        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
          <li class="nav-item"><a routerLink="data">{{ 'NAVBAR.DATA' | translate }}</a></li>
          <li class="nav-item"><a routerLink="workflows">{{ 'NAVBAR.WORKFLOWS' | translate }}</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
