<div class="container">
  <div class="main-content">
    <div *ngIf="datasets == null || datasets.length == 0">
      <p>
        {{ 'MODEL_SELECTION.NO_DATA_SET' | translate }}
      </p>
    </div>
    <div class="container" *ngIf="datasets != null && datasets.length > 0">
      <div class="row">
        <div class="col">
          <form>
            <div class="form-group">
              <label for="goal">{{ 'MODEL_SELECTION.GOAL' | translate }}</label>
              <select class="form-control" id="goal" (change)="updateGoal($event.target.value)">
                <option value="GoalRegression">{{ 'MODEL_SELECTION.REGRESSION' | translate }}</option>
                <option value="GoalClassification">{{ 'MODEL_SELECTION.CLASSIFICATION' | translate }}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="col">
          <form>
            <div class="form-group">
              <label for="tradeOff">{{ 'MODEL_SELECTION.TRADE_OFF' | translate }}</label>
              <select class="form-control" id="tradeOff" (change)="updateTradeOff($event.target.value)">
                <option value=""></option>
                <option value="speed">{{ 'MODEL_SELECTION.SPEED' | translate }}</option>
                <option value="correctness">{{ 'MODEL_SELECTION.ACCURACY' | translate }}</option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <br/>
      <hr/>
      <br/>
      <div class="container" *ngIf="datasets != null && datasets.length > 0">
        <div class="row">
          <div class="col">
            <form>
              <div class="form-group">
                <label for="datasetSelect">{{ 'MODEL_SELECTION.DATA_SET' | translate }}</label>
                <select class="form-control" id="datasetSelect" (change)="updateSelectedDataset($event.target.value)">
                  <option *ngFor="let d of datasets" value="{{datasets.indexOf(d)}}">{{d.name}}</option>
                </select>
              </div>
            </form>
          </div>
          <div class="col">
            <form>
              <div class="form-group">
                <label for="targetVariableSelect">{{ 'MODEL_SELECTION.TARGET_VARIABLE' | translate }}</label>
                <select class="form-control" id="targetVariableSelect" (change)="updateTargetVariable($event.target.value)">
                  <option *ngFor="let c of selectedDataset.schema.columns" value="{{c.index}}">{{c.name}} : {{c.type}}</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <br/>
        <hr/>
        <br/>
        <label>{{ 'MODEL_SELECTION.EXPLANATORY_VARIABLES' | translate }}</label>
        <div class="row">
          <div class="explanatory-variables" *ngFor="let c of possibleExplanatoryVariables">
            <form>
              <label>
                <input type="checkbox" [checked]="checked" (change)="addCheckBoxChange(c, $event.target.checked)">
                {{c.name}}
              </label>
            </form>
          </div>
        </div>
        <br/>
        <hr/>
        <br/>
        <div class="row">
          <button class="btn btn-info mb-2" (click)="showDistributions()">Show Distributions</button>
          <button type="submit" class="btn btn-primary mb-2" [disabled]="!checkedDistributions" (click)="recommend()">Recommend</button>
        </div>
        <br/>
        <hr/>
        <div class="container" *ngIf="algorithmRecommendations != null && algorithmRecommendations.length > 0">
          <h4>Recommendations:</h4>
          <div class="accordion" id="recommendationsAccordion">
            <div class="card" *ngFor="let algo of algorithmRecommendations">
              <h5>
                <button [ngClass]="(algorithmRecommendations.indexOf(algo) == 0)?'btn':'btn collapsed'"
                        id="{{'header-' + algorithmRecommendations.indexOf(algo)}}"
                        type="button"
                        data-toggle="collapse"
                        [attr.data-target]="'#card-' + algorithmRecommendations.indexOf(algo)" aria-expanded="true"
                        [attr.aria-controls]="'card-' + algorithmRecommendations.indexOf(algo)">
                  {{algo.name}}
                </button>
              </h5>
              <div id="{{'card-' + algorithmRecommendations.indexOf(algo)}}" [ngClass]="(algorithmRecommendations.indexOf(algo) == 0)?'collapse show':'collapse'" [attr.aria-labelledby]="'header-' + algorithmRecommendations.indexOf(algo)" data-parent="#recommendationsAccordion">
              <hr/>
                <div class="card-body">
                  <div>
                    ----> Parameters here
                  </div>
                  <button>Train</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </div>
</div>
