<div class="container">
  <div class="main-content">
    <div *ngIf="datasets == null || datasets.length == 0">
      <p>
        {{ 'MODEL_SELECTION.NO_DATA_SET' | translate }}
      </p>
    </div>
    <div *ngIf="datasets != null && datasets.length > 0">
      <form>
        <label>Dataset:</label>
        <select (change)="updateSelectedDataset($event.target.value)">
          <option *ngFor="let d of datasets" value="{{datasets.indexOf(d)}}">{{d.name}}</option>
        </select>
      </form>
    </div>
  </div>
</div>
