@import "../../../styles";

.container {
  min-height: 100vh;
  overflow: scroll;
  transition: all 0.2s ease;
}

.main-content {
  margin-top: $header-height + 15px;
  background-color: $default-white;
  padding: 30px;
  min-height: calc(100vh - 90px);
  width: 100%;
}

.explanatory-variables {
  float: left;
  margin: 7.5px;
}

button {
  margin: 7.5px;
}

.accordion {
  width: 50%;
}
