<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title">{{ 'MODEL_SELECTION.DISTRIBUTIONS_MODAL.TITLE' | translate }}</h6>
      <button type="button" class="close float-right" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">
      <div class="row" *ngFor="let c of dataset.schema.columns">
        <div class="col-md-5">
          <label>
            {{c.name}}:
          </label>
        </div>
        <div class="col-md-5">
          <select class="selectpicker" required>
            <option *ngFor="let d of Distribution.values(c.distribution)"
                    [attr.selected]="c.distribution != null && c.distribution == Distribution[d] ? true : null">
              {{Distribution[d]}}
            </option>
          </select>
        </div>
        <div class="col-md-1">
          <span title="{{'MODEL_SELECTION.DISTRIBUTIONS_MODAL.ICON_TITLE' | translate }}" (click)="plot(c)">
            <i class="ti-eye"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="confirm()">OK</button>
    </div>
  </div>
</div>
