@import "../../parameters-modal.component";

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label strong {
  display: inline-block;
}

svg {
  fill: #d3394c;
}
