<div>

  <div class="row chart-settings-entry">
    <chart-column-selector [columns]="dataSet.schema.columns" (columnUpdated)="onUpdateColumn($event)">
    </chart-column-selector>
  </div>

  <div class="row chart-settings-entry">
    <span class="col">{{'DATA.NORMALIZATION' | translate}}:</span>
    <div class="col dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownHistNormButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{selectedHistNorm}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownHistNormButton">
        <a *ngFor="let histNorm of HistNorm.values()" (click)="onSelectHistNorm(histNorm)"
           class="dropdown-item clickable">{{histNorm}}</a>
      </div>
    </div>
  </div>

  <div class="row chart-settings-entry">
    <span class="col">{{'DATA.CUMULATIVE' | translate}}:</span>
    <input class="col" type="checkbox" value="" [(ngModel)]="isCumulativeEnabled" (click)="getDataAndUpdate()">
  </div>

  <div class="row chart-settings-entry">
    <chart-column-selector [columns]="dataSet.schema.columns" (columnUpdated)="onUpdateGroupByColumn($event)">
    </chart-column-selector>
  </div>

  <div class="row chart-settings-entry">
    <span class="col">Overlaid: </span>
    <input class="col" type="checkbox" value="" [checked]="isOverlaidEnabled" (click)="onChangeOverlaid()">
  </div>

</div>
