<div class="block regression-block container" id="{{id}}" [dragDirective]='this' [dragHightlight]="'highlight'">
  <div class="row">
    <div class="col">
      <i class="fa fa-sliders float-right" aria-hidden="true" (click)="showSettingsPopUp()"></i>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{name}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <i *ngIf="!valid" class="fa fa-exclamation-circle float-right" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{ 'WORKFLOWS.BLOCKS.STEP_IS_NOT_COMPLETE' | translate }}"></i>
    </div>
  </div>
</div>
