<div class="container">

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">

      <span *ngIf="selectedDataSet; else noDataSetSelected">{{selectedDataSet.name}}</span>
      <ng-template #noDataSetSelected>No data set selected</ng-template>
      <!--{{selectedDataSet || "f"}}-->
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let dataSet of dataSets">
        <a (click)="onSelectDataSet(dataSet)">{{dataSet.name}}</a>
      </li>
    </ul>
  </div>

  <div infinite-scroll [infiniteScrollDistance]="2"
       [infiniteScrollUpDistance]="1.5"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScrollDown()"
       id="data-table" *ngIf="selectedDataSet" class="panel panel-default">
    <table class="table table-striped">
      <thead>
      <tr>
        <th *ngFor="let column of selectedDataSet.schema.columns">{{column.name}} ({{column.type}})</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows">
        <td *ngFor="let value of row.values">{{value}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
