<div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">

      <span *ngIf="selectedDataSet; else noDataSetSelected">{{selectedDataSet.name}}</span>
      <ng-template #noDataSetSelected>No data set selected</ng-template>
      <!--{{selectedDataSet || "f"}}-->
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let dataSet of dataSetObservable | async">
        <a href="#" (click)="onSelectDataSet(dataSet)">{{dataSet.name}}</a>
      </li>
    </ul>
  </div>

</div>
