@import "../../../styles";

.container {
  min-height: 100vh;
  overflow: scroll;
  transition: all 0.2s ease;
}

.main-content {
  margin-top: $header-height + 15px;
  background-color: $default-white;
  padding: 30px;
  min-height: calc(100vh - 90px);
  width: 100%;
}

#modelsAccordion {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5px;
}

.card {
  margin-bottom: 5px;

  h5 {
    button {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
