<div class="container">
  <div class="main-content">
    <div *ngIf="models == null || models.length == 0">
      <p>
        {{ 'MODEL_VISUALIZATION.NO_MODELS' | translate }}
      </p>
    </div>
    <div class="container" *ngIf="models != null && models.length > 0">
      <div>
        <h4>Trained Models:</h4>
      </div>
      <div id="modelsAccordion">
        <div class="card" *ngFor="let model of models">
          <div *ngVar="models.indexOf(model) as index">
            <h5>
              <a href="javascript:void(0)" (click)="save(model.id)">
                <i class="ti-save"></i>
              </a>
              <button [ngClass]="(index == 0)?'btn':'btn collapsed'"
                      id="{{'header-' + index}}"
                      type="button"
                      data-toggle="collapse"
                      [attr.data-target]="'#card-' + index" aria-expanded="true"
                      [attr.aria-controls]="'card-' + index">
                {{model.algorithmImplementation}}
              </button>
            </h5>
            <div id="{{'card-' + index}}"
                 [ngClass]="(index == models.length - 1)?'collapse show':'collapse'"
                 [attr.aria-labelledby]="'header-' + index"
                 data-parent="#modelsAccordion">
              <hr/>
              <app-regression-summary [model]="model" *ngIf="AlgorithmImplementation.isRegressionWithCoefficients(model.algorithmImplementation)"></app-regression-summary>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
